<%= turbo_frame_tag dom_id(comment) do %>
      <div class="flex items-center sm:hidden pt-3">
        <% if comment.parent.present? %>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" style="transform: scaleX(-1);" class="text-gray-400" viewBox="0 0 16 16">
              <path d="M5.921 11.9 1.353 8.62a.72.72 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
            </svg>
            
            <div class="flex items-center gap-1">
              <%= link_to render('avatar_pfp/mashit_avatar_comments', user: comment.parent.user), profile_path(comment.parent.user), data: { turbo: false }, class: "inline-block pl-2" %>
              <%= link_to comment.parent.user.username, profile_path(comment.parent.user), data: { turbo: false }, class: "text-[#ed5024] text-sm hover:underline pr-5" %>
            </div>
          <% end %>
          </div>
   

    <%# Avatar and content %>
    <div class="flex items-start gap-2 mb-2 mt-3 w-full">
      <div class="flex-shrink-0">
        <%= link_to render('avatar_pfp/mashit_avatar', user: comment.user), profile_path(comment.user), data: { turbo: false } %>
      </div>
      
      <div class="flex-1 w-full">
        <div class="flex items-center flex-wrap gap-1">
          <span class="font-medium"><%= link_to comment.user.username, profile_path(comment.user), data: { turbo: false } %></span>  
          <% if user_has_badges?(comment.user, "Developer") %>
       <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-code-circle-2"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M17 3.34a10 10 0 1 1 -15 8.66l.005 -.324a10 10 0 0 1 14.995 -8.336m-3.658 5.22a1 1 0 0 0 -1.282 .598l-2 5.5a1 1 0 0 0 1.88 .684l2 -5.5a1 1 0 0 0 -.598 -1.282m-4.135 1.233a1 1 0 0 0 -1.414 0l-1.5 1.5a1 1 0 0 0 0 1.414l1.5 1.5a1 1 0 0 0 1.414 0l.083 -.094a1 1 0 0 0 -.083 -1.32l-.792 -.793l.792 -.793a1 1 0 0 0 0 -1.414m7 0a1 1 0 0 0 -1.414 0l-.083 .094a1 1 0 0 0 .083 1.32l.792 .793l-.792 .793a1 1 0 0 0 1.414 1.414l1.5 -1.5a1 1 0 0 0 0 -1.414z" /></svg>
        <% end %> 
        <% if user_has_badges?(comment.user, "Admin") %>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-shield-checkered"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M11.013 12v9.754a13 13 0 0 1 -8.733 -9.754h8.734zm9.284 3.794a13 13 0 0 1 -7.283 5.951l-.001 -9.745h8.708a12.96 12.96 0 0 1 -1.424 3.794zm-9.283 -13.268l-.001 7.474h-8.986c-.068 -1.432 .101 -2.88 .514 -4.282a1 1 0 0 1 1.005 -.717a11 11 0 0 0 7.192 -2.256l.276 -.219zm1.999 7.474v-7.453l-.09 -.073a11 11 0 0 0 7.189 2.537l.342 -.01a1 1 0 0 1 1.005 .717c.413 1.403 .582 2.85 .514 4.282h-8.96z" /></svg>
        <% end %> 

        <% if comment.pinned? %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-pinned" style="color: green"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M16 3a1 1 0 0 1 .117 1.993l-.117 .007v4.764l1.894 3.789a1 1 0 0 1 .1 .331l.006 .116v2a1 1 0 0 1 -.883 .993l-.117 .007h-4v4a1 1 0 0 1 -1.993 .117l-.007 -.117v-4h-4a1 1 0 0 1 -.993 -.883l-.007 -.117v-2a1 1 0 0 1 .06 -.34l.046 -.107l1.894 -3.791v-4.762a1 1 0 0 1 -.117 -1.993l.117 -.007h8z" /></svg>
        <% end %>
        
         <%# Timestamp %>
    <div class="flex items-center ml-auto text-sm text-gray-400 mb-2 gap-2">
    <% if comment.parent.present? %>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" style="transform: scaleX(-1);" class="text-gray-400 hidden sm:block" viewBox="0 0 16 16">
              <path d="M5.921 11.9 1.353 8.62a.72.72 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
            </svg>
            
            <div class="hidden md:flex items-center gap-1">
              <%= link_to render('avatar_pfp/mashit_avatar_comments', user: comment.parent.user), profile_path(comment.parent.user), data: { turbo: false }, class: "inline-block" %>
              <%= link_to comment.parent.user.username, profile_path(comment.parent.user), data: { turbo: false }, class: "text-[#ed5024] text-sm hover:underline " %>
            </div>
          <% end %>

      <span><%= time_ago_in_words(comment.created_at) %></span>
      <% if comment.updated_at.present? && comment.updated_at > comment.created_at + 1.minute %>
      <div class="flex flex-wrap gap-1 items-center">
        <span>⁃ <%= time_ago_in_words(comment.updated_at) %></span>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-pencil"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12.085 6.5l5.415 5.415l-8.793 8.792a1 1 0 0 1 -.707 .293h-4a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 .293 -.707zm5.406 -2.698a3.828 3.828 0 0 1 1.716 6.405l-.292 .293l-5.415 -5.415l.293 -.292a3.83 3.83 0 0 1 3.698 -.991" />
        </svg>
        </div>
        <% end %>
        </div>

      </div>

        <div class="flex gap-1 flex-wrap">

         <% if comment.user.badges.any? %>
          <% comment.user.badges.each do |badge| %>
          <span class="text-sm font-bold text-[#de7220]"><%= badge.name %> </span>
          <% end %>
          <% end %>
          </div>

      <%# desktop parent body quote %>
      <div class="hidden sm:block">
        <% if comment.quoted_comment.present? %>
          <div style="border-left: 4px solid #ed5024; background-color: #3e3e3e; width: 100%" class=" pl-4 mt-4 mb-3 py-3 text-sm select-none pointer-events-none">
          <div class="flex items-center gap-1">
          <% if comment.quoted_comment.user.present? %>

              <%= link_to render('avatar_pfp/mashit_avatar_comments', user: comment.parent.user), profile_path(comment.parent.user), data: { turbo: false }, class: "inline-block" %>
              <%= link_to comment.quoted_comment.user.username, profile_path(comment.parent.user), data: { turbo: false }, class: "text-[#ed5024] text-sm hover:underline " %>
            </div>
          <% end %>
            <p class="mt-4"><%= comment.quoted_comment.body.to_plain_text.truncate(300) %></p>
          </div>
        <% end %>
      </div>

        <div class="comment-content mt-4 hidden sm:block">
          <p class="text-gray-300">
            <%= comment.body %>
          </p>
        </div>
      </div>
    </div>
    <%# mobile parent body quote %>
    <div class="comment-content mt-4 block sm:hidden">
            <% if comment.quoted_comment.present? %>
          <div style="border-left: 4px solid #ed5024; background-color: #3e3e3e;" class="pl-4 mt-4 mb-3 py-3 text-sm select-none pointer-events-none">
           <div class="flex items-center gap-1 mb-4">
            <% if comment.quoted_comment.user.present? %>

            <%= link_to render('avatar_pfp/mashit_avatar_comments', user: comment.parent.user), profile_path(comment.parent.user), data: { turbo: false }, class: "inline-block" %>
            <%= link_to comment.quoted_comment.user.username, profile_path(comment.parent.user.username), data: { turbo: false }, class: "text-[#ed5024] text-sm hover:underline " %>
            </div>
          <% end %>
            <strong class="text-[#ed5024]"><%= comment.quoted_comment.user.username %>:</strong>
            <p><%= comment.quoted_comment.body.to_plain_text.truncate(300) %></p>
          </div>
        <% end %>
          <p class="text-gray-300">
            <%= comment.body %>
          </p>
        </div>
    
    
    <div class="padding-border border-b border-[#2a2a2a]">
      <%# reply section %>
      <div id="reply_section_<%= comment.id %>">
        <div class="pb-5 flex justify-end items-center gap-2">
          <%# Three dots menu %>
          <% if user_signed_in? && (current_user.admin? || current_user == comment.user) %>
        <div class="relative ml-auto flex items-center">
          <button class=" peer hover:text-[#ababab] rounded-full outline-none text-[#808080]">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
              <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
            </svg>
          </button>
          <div class="peer absolute right-4 bottom-8 text-sm mt-2 opacity-0 invisible peer-focus:opacity-100 peer-focus:visible transition-all duration-200 divide-y divide-[#2a2a2a] rounded-lg bg-[#161616] shadow-[0_20px_40px_-1px_rgba(0,0,0,0.3)] w-48 z-10">
          <% if current_user&.admin? %>
              <% if comment.pinned? %>
                <%= button_to unpin_topic_post_comment_path(@topic, @post, comment), method: :patch,
                  class: "block w-full text-left px-4 py-2 text-sm hover:text-[#ababab] rounded-lg flex items-center gap-2" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4" /><path d="M9 15l-4.5 4.5" /><path d="M14.5 4l5.5 5.5" /></svg>
                  <span> Unpin </span>
                  <% end %>

              <% else %>
                <%= button_to pin_topic_post_comment_path(@topic, @post, comment), method: :patch,
                  class: "block w-full text-left px-4 py-2 text-sm hover:text-[#ababab] rounded-lg flex items-center gap-2" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-pinned"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M9 4v6l-2 4v2h10v-2l-2 -4v-6" /><path d="M12 16l0 5" /><path d="M8 4l8 0" /></svg>
                  <span> Pin </span>
                  <% end %>
              <% end %>
            <% end %>
            <%= link_to edit_topic_post_comment_path(@topic, @post, comment),
              class: "block w-full text-left px-4 py-2 text-sm hover:text-[#ababab] flex items-center gap-2" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M8 7a1 1 0 0 1 -1 1h-1a1 1 0 0 0 -1 1v9a1 1 0 0 0 1 1h9a1 1 0 0 0 1 -1v-1a1 1 0 0 1 2 0v1a3 3 0 0 1 -3 3h-9a3 3 0 0 1 -3 -3v-9a3 3 0 0 1 3 -3h1a1 1 0 0 1 1 1" /><path d="M14.596 5.011l4.392 4.392l-6.28 6.303a1 1 0 0 1 -.708 .294h-3a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 .294 -.708zm6.496 -2.103a3.097 3.097 0 0 1 .165 4.203l-.164 .18l-.693 .694l-4.387 -4.387l.695 -.69a3.1 3.1 0 0 1 4.384 0" /></svg>
              <span> Edit </span>
              <% end %>
            <%= button_to topic_post_comment_path(@topic, @post, comment),
              method: :delete,
              class: "block w-full text-left px-4 py-2 text-sm hover:bg-red-900/20 text-red-400 rounded-md flex items-center gap-2" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
              <span> Delete </span>
              <% end %>
          </div>
        </div>
      <% end %>
          <%# Reply button %>
      <button id="reply_button_<%= comment.id %>"
      <%= "disabled" if @topic.locked? || @post.locked? %>
            onclick="var form = document.getElementById('reply_form_container_<%= comment.id %>'); form.style.display = form.style.display === 'none' ? 'block' : 'none'"
            class="<%= 'ml-auto' unless user_signed_in? && (current_user.admin? || current_user == comment.user) %> flex gap-1 p-2 hover:bg-[#2a2a2a] rounded-full group <%= 'cursor-not-allowed opacity-50' if @topic.locked? || @post.locked? %>">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-reply-fill text-[#808080]" viewBox="0 0 16 16">
              <path d="M5.921 11.9 1.353 8.62a.72.72 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
            </svg>
            <span class="text-[#808080]">Reply</span>
      </button>
        </div>
        

        <div id="reply_form_container_<%= comment.id %>" style="display: none;">
          <%= render partial: 'comments/reply_form', locals: { topic: @topic, post: @post, comment: comment } %>
        </div>
      </div>
    </div>
<% end %>

<%# sub comments %>
      <div class="sub-comments" id="sub_comments_<%= comment.id %>">
        <% ((@replies || {})[comment.id] || []).each do |reply| %>
          <%= render partial: "comments/comment", locals: { comment: reply } %>
        <% end %>
      </div>
