<% depth = local_assigns.fetch(:depth, 0) %>

<%= turbo_frame_tag dom_id(comment) do %>
  <div class="ml-auto">
    <!-- three dots -->
    <% if user_signed_in? && (current_user.admin? || current_user == @post.user) %>
      <div class="float-right">
        <button class="peer hover:text-[#ababab] rounded-full outline-none ml-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
          </svg>
        </button>
        <div class="peer absolute right-0 sm:right-auto text-sm mt-2 opacity-0 invisible peer-focus:opacity-100 peer-focus:visible transition-all duration-200 rounded-lg shadow-[0_20px_40px_-1px_rgba(0,0,0,0.3)] w-48 z-10">
          <%= link_to "Edit", edit_topic_post_comment_path(@topic, @post, comment),
            class: "block w-full text-left px-4 py-2 text-sm hover:bg-red-50 dark:hover:bg-red-900/20 text-white" %>
          <%= button_to "Delete", topic_post_comment_path(@topic, @post, comment),
            method: :delete,
            class: "block w-full text-left px-4 py-2 text-sm hover:bg-red-50 dark:hover:bg-red-900/20 text-red-600 dark:text-red-400" %>
        </div>
      </div>
    <% end %>

    <div>
      <div class="float-left flex pr-3 pt-3">
        <%= link_to render('avatar_pfp/mashit_avatar_comments', user: comment.user), profile_path(comment.user.username) %>
      </div>

      <%= comment.user.username %>

      <div class="py-8 overflow-hidden">
        <%= comment.body %>
      </div>

      <%# reply section %>
     <div id="reply_section_<%= comment.id %>">
  <div class="pb-10">
    <button id="reply_button_<%= comment.id %>"
      onclick="document.getElementById('reply_form_container_<%= comment.id %>').style.display='block'; this.style.display='none'"
      class="btn btn-white flex items-center gap-1 pl-3">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" />
      </svg>

      <span>Reply</span>
    </button>
  </div>

        <div id="reply_form_container_<%= comment.id %>" style="display: none;">
          <%= render partial: 'comments/reply_form', locals: { topic: @topic, post: @post, comment: comment } %>
        </div>
      </div>

      <%# sub comments %>
      <div class="sub-comments <%= depth < 3 ? 'pl-4' : '' %>" id="sub_comments_<%= comment.id %>">
         <% ((@replies || {})[comment.id] || []).each do |reply| %>
          <%= render partial: "comments/comment", locals: { comment: reply } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>