<% content_for :title, "All Topics" %>

<div class="posts-page px-3">
  <!-- Page Header -->

  <div class="mb-2 border-b border-[#2a2a2a] pb-8">
    <h1 class="text-2xl font-bold text-white mb-4"> Topics </h1>
    <p class="text-gray-400 text-sm "> Browse all posts </p>
    <p class="float-right text-gray-400 hidden sm:block">Comments</p>
    <p class="text-gray-400 float-right pr-7 hidden sm:block"> Posts </p>
  </div>

  <!-- Topics List -->
  
  <div class="posts-container divide-y divide-[#2a2a2a] overflow-visible">
  <% if @topics.any? %>
    <% @topics.each do |topic| %>
      <div class="topic mt-4">

      <div class="float-right text-gray-400 hidden sm:block">
      <div class="flex items-center gap-22 pr-7">
        <span><%= topic.posts_count.to_i %> </span>
        <span><%= topic.posts.sum { |p| p.comments_count.to_i } %></span>
      </div>
      </div>

      <!-- mobile info -->
      <div class="float-right block sm:hidden">
      <div class="flex flex-col gap-5">
        <span class="font-bold"><%= topic.posts_count.to_i %> </span>
        <span><%= topic.posts.sum { |p| p.comments_count.to_i } %></span>
      </div>
      </div>

        <h2><%= link_to topic.title, topic_posts_path(topic), class: "hover:text-[#ababab] transition font-bold" %></h2>
        <p><%= topic.content %></p>
        <!-- Tags -->

      <% if topic.tags.any? %>
        <div class="tags mb-4 mt-2">
          <div class="flex flex-wrap gap-2">
            <% topic.tags.each do |tag| %>
            <%= link_to tag.name, topics_path(tag: tag.name),
            class: "bg-[#de7200] text-white px-4 rounded-full text-sm hover:bg-[#df8322]" %>

            <% end %>
          </div>
        </div>
      <% end %>
      
      </div>

    <% end %>

    <% else %>
    <div class="empty-state text-center py-16 rounded-lg">
        <h3 class="text-2xl font-bold text-white mb-2">No topics yet</h3>
        <p class="text-gray-400 mb-6">Wait for an admin create one.</p>
        
      </div>

    <% end %>
      
  </div>
</div>