<div id="<%= dom_id post %>" class="w-full sm:w-auto my-4 ">
<div class="flex max-w-full md:max-w-5xl mx-auto border-gray-700">

<% if user_signed_in? && (current_user.admin? || current_user == @post.user) %>

 <!-- 3 dots menu -->
        <div class="absolute top-27 md:right-90 inline-block ">

    <button class="peer hover:text-[#ababab] rounded-full outline-none ml-3 ">
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-three-dots " viewBox="0 0 16 16">
    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
  </button>
  
  <div class="absolute divide-y divide-[#2a2a2a] text-sm right-0 top-5 mt-4 opacity-0 invisible peer-focus:opacity-100 peer-focus:visible transition-all duration-200 bg-[#161616] rounded-lg shadow-[0_20px_40px_-1px_rgba(0,0,0,0.3)] w-48 z-10">
    <%= link_to "Edit Post", edit_topic_post_path(@topic, @post), 
    class: "block px-4 py-4 hover:text-[#ababab] cursor-pointer" %> 

      <%= button_to "Destroy this post", [@topic, @post], method: :delete, 
      class: "block px-4 py-4 hover:text-[#ababab] cursor-pointer",
         data: { turbo_confirm: "Are you sure?" } %>

      
  </div>
  
  </div>

  <% end %>
   
  <!-- end -->


</div>

  <div class="prose max-w-none text-l md:txt-base divide-y divide-[#2a2a2a]">
      
  <!-- Tags Display -->
  <div class="flex flex-wrap items-center gap-3 pb-4 mb-3">
    <strong class="text-lg font-bold whitespace-nowrap">Tags:</strong>
  <div class="flex flex-wrap items-center gap-1">
    <% if @post.tags.any? %>
      <% @post.tags.each do |tag| %>
        <%= link_to tag.name, topic_posts_path(tag: tag.name),
              class: "bg-[#de7200] text-white px-3 py-1 rounded-full text-sm hover:bg-[#df8322]" %>
      <% end %>
    <% else %>
      <p class="text-gray-400">No tags yet</p>
    <% end %>
  </div>
  </div>

  <div>
    <!-- Post Content Preview -->

          <div class="post-content mb-4">
            <p class="text-gray-300">
              <%= post.body %>
            </p>
          </div>

          <!-- Post Metadata -->
          
          <div class="flex justify-between text-sm text-gray-400">
            <div>
              <span class="mr-1">
              <%= t :Posted%> <%= time_ago_in_words(post.updated_at) %> ago</span>
              <% if post.updated_at.present? && post.updated_at > post.created_at + 1.minute %>
                • <span>Edited <%= time_ago_in_words(post.updated_at) %> ago</span>
              <% end %>
            </div>


  </div>
</div>



</div>