<% content_for :title, @post.title %>

<div class="md:pl-10 md:w-3/4 w-full ">
  <%# if notice.present? %>
    <%# p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><% notice %><%# /p %>
  <%# end %>

  <%= render @post %>

    <div class="my-5 border-t border-[#2a2a2a] pt-5 pl-2">
    <h2 class="text-3xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">

    <%= turbo_frame_tag "post_#{@post.id}_comment_count" do %>
      <%= pluralize(@post.comments.count, 'comment') %>
      <% end %>
      
    </h2>


  </div>

  <hr class="my-2 border-[#2a2a2a]" />
  <%= turbo_frame_tag "post_#{@post.id}_comments" do %>
   <%= render partial: "comments/comment", collection: @comments, locals: { replies: @replies } %>
  <% end %>

</div>

</div>

</div>