<% content_for :title, @post.title %>

<div class="md:w-2/3 w-full ">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render @post %>

    <div class="my-5 border-t border-[#2a2a2a] pt-5">
    <h2 class="text-3xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight pb-5">

    <%= turbo_frame_tag "post_#{@post.id}_comment_count" do %>
      <%= pluralize(@post.comments.count, 'comment') %>
      <% end %>
      
    </h2>
<button id="comment_main_btn" onclick="toggleForm(this)" class="btn btn-white bg-[#ed5024] hover:bg-[#e0603c] pb-1 pr-8 pl-8 inline-block font-medium rounded-full shadow transition duration-200">Comment</button>

<div id="comment_form_container" style="display: none;">
  <%= turbo_frame_tag "post_comment_form" do %>
    <%= render "comments/form", topic: @topic, post: @post, comment: @comment, parent: nil %>
  <% end %>
</div>

<script>
function toggleForm(button) {
  const container = document.getElementById('comment_form_container');
  if (container.style.display === 'none') {
    container.style.display = 'block';
    button.style.display = 'none';
  } else {
    container.style.display = 'none';
    button.style.display = 'inline-block';
  }
}
</script>

  </div>

  <hr class="my-2 border-[#2a2a2a]" />
  <%= turbo_frame_tag "post_#{@post.id}_comments" do %>
   <%= render partial: "comments/comment", collection: @comments, locals: { replies: @replies } %>
  <% end %>

</div>

</div>

</div>