<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Mash It Forum" %></title>
    <%= render 'application/favicon' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Mash It Artists Forum">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header class="bg-[#161616] pl-4 ring shadow-xl ring-gray-900/5 border-b border-[#2a2a2a] flex items-center">
   <%= link_to image_tag("logo.png", size: "70"), root_path, class: "inline-block" %>
   <%= link_to "Mash-it.io", "https://mash-it.io/mashers", class: "pl-6" %>
   <%= link_to "About", root_path, class: "pl-4" %>
   <div class="ml-auto">
      <% if user_signed_in? %>
       <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "bg-[#ed5024] hover:bg-[#e0603c] inline-block text-white font-medium py-2 px-4 mr-3 rounded-full shadow transition duration-200" %> 
           <% else %>

      <%= link_to "Sign in", new_user_session_path, class: "bg-[#ed5024] hover:bg-[#e0603c] inline-block text-white font-medium py-2 px-4 mr-3 rounded-full shadow transition duration-200" %> 
      <% end %>
    </div>
  </header>
  
    <!-- pinned nav bar -->
  <div class="flex flex-grow">
    <nav class="md:flex w-1/6 flex-col hidden sticky top-0 h-screen pt-4 pr-5 pl-5 border-r border-[#2a2a2a]">
        <ul class="space-y-2">  <!-- space-y-2 adds vertical spacing between items -->
        
        <!-- New topic -->
        <% if current_user&.admin? %>
        <li>
      <%= link_to new_topic_path, class: "flex items-center gap-3 pl-8 py-2 hover:bg-[#2a2a2a] rounded-md group" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
      </svg>
    <span class="text-gray-300 group-hover:text-white"> New topic </span>
      <%= link_to "Admin Panel", admin_root_path, class: "text-red-500" %>

    <% end %>

      </li>
      <% end %>

      <div class="border-b border-[#2a2a2a]">
      </div>
      
      <!-- topics page -->
      <li>
        <%= link_to topics_path, class: "flex items-center gap-3 pl-8 py-2 hover:bg-[#2a2a2a] rounded-md group" do %>
          <!-- Posts Icon -->
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 9v.906a2.25 2.25 0 0 1-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 0 0 1.183 1.981l6.478 3.488m8.839 2.51-4.66-2.51m0 0-1.023-.55a2.25 2.25 0 0 0-2.134 0l-1.022.55m0 0-4.661 2.51m16.5 1.615a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V8.844a2.25 2.25 0 0 1 1.183-1.981l7.5-4.039a2.25 2.25 0 0 1 2.134 0l7.5 4.039a2.25 2.25 0 0 1 1.183 1.98V19.5Z" />
        </svg>


          <span class="text-gray-300 group-hover:text-white"> Topics </span>
        <% end %>
      </li>

      <li> 
      <% if user_signed_in? %>

        <%= link_to profile_path(current_user.username), class: "flex items-center gap-3 pl-8 py-2 hover:bg-[#2a2a2a] rounded-md group" do %>
          <!-- Posts Icon -->
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
</svg>



          <span class="text-gray-300 group-hover:text-white"> Profile </span>
        <% end %>
        

      <% end %>
      
      </li>
      
      </ul>
    </nav>

  <body class="bg-[#161616] min-h-screen text-white">
 
    <main class="container mx-auto mt-5 px-3 mb-10">
      <%= yield %>
    </main>
  </body>
</html>
